<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>HEL-TKU fares</title>
    </head>
    <body>

        <h1>SS - book your trip today</h1>
        <h2>Traveling agency for a trip between Helsinki and Turku</h2>


        <a href="/fares?accountId={{acc_id}}">My fares</a>

        <h3> Book a fare</h3>
        <p> We are offering a great travel package between Turku and Helsinki on our new ship MS Monsoon.</p>
        <a href="/booking">Book a trip</a>

        
    </body>
</html>
