<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>HEL-TKU fares</title>
    </head>
    <body>
        <div>
            <h1> Your planned trips: {{ trips|length }}</h1>
            <p> Trip code: th  = Turku Helsinki</p>
            <p> Trip code: ht  = Helsinki-Turku</p>
            {% for trip in trips %}
            <ul>
                <li>Trip code: {{trip.trip}}</li>
                <li>Trip date: {{trip.date}}</li>
                <li>Trip payment from credit card: {{trip.creditcard}}</li>
            </ul>
            {% endfor %}
        </div>
    </body>
</html>
